In this project, you will work with three datasets that are available on the City of Chicago’s Data Portal:

Socioeconomic indicators in Chicago
Chicago public schools
Chicago crime data

#### Exercise 1 Question 1
Write and execute a SQL query to list the school names, community names and average attendance for communities with a hardship index of 98.

```sql
-- MY
SELECT CPS.NAME_OF_SCHOOL, CPS.COMMUNITY_AREA_NAME, CPS.AVERAGE_STUDENT_ATTENDANCE
FROM CHICAGO_PUBLIC_SCHOOLS AS CPS
INNER JOIN CENSUS_DATA AS CD
ON CPS.COMMUNITY_AREA_NUMBER = CD.COMMUNITY_AREA_NUMBER
WHERE CD.HARDSHIP_INDEX = '98';

-- WITH HINT - LEFT JOIN
SELECT CPS.NAME_OF_SCHOOL, CPS.COMMUNITY_AREA_NAME, CPS.AVERAGE_STUDENT_ATTENDANCE
FROM CHICAGO_PUBLIC_SCHOOLS AS CPS
LEFT JOIN CENSUS_DATA AS CD
ON CPS.COMMUNITY_AREA_NUMBER = CD.COMMUNITY_AREA_NUMBER
WHERE CD.HARDSHIP_INDEX = '98';

-- FROM ANSERS
SELECT CPS.NAME_OF_SCHOOL, CPS.COMMUNITY_AREA_NAME, CPS.AVERAGE_STUDENT_ATTENDANCE
FROM CHICAGO_PUBLIC_SCHOOLS AS CPS
RIGHT JOIN CENSUS_DATA AS CD
ON CPS.COMMUNITY_AREA_NUMBER = CD.COMMUNITY_AREA_NUMBER
WHERE CD.HARDSHIP_INDEX = '98';
```

#### Exercise 1 Question 2
Write and execute a SQL query to list all crimes that took place at a school. Include case number, crime type and community name.

```sql
SELECT CCD.CASE_NUMBER, CCD.PRIMARY_TYPE, CD.COMMUNITY_AREA_NAME
FROM CHICAGO_CRIME_DATA AS CCD
LEFT JOIN CENSUS_DATA AS CD
ON CCD.COMMUNITY_AREA_NUMBER = CD.COMMUNITY_AREA_NUMBER
WHERE UPPER(LOCATION_DESCRIPTION) LIKE '%SCHOOL%';


-- FROM ANSWER
SELECT CCD.CASE_NUMBER, CCD.PRIMARY_TYPE, CD.COMMUNITY_AREA_NAME
FROM CHICAGO_CRIME_DATA AS CCD
LEFT JOIN CENSUS_DATA AS CD
ON CCD.COMMUNITY_AREA_NUMBER = CD.COMMUNITY_AREA_NUMBER
WHERE UPPER(LOCATION_DESCRIPTION) LIKE '%SCHOOL%';
```

#### Exercise 2 Question 1
Write and execute a SQL statement to create a view showing the columns listed in the following table, with new column names as shown in the second column.

```sql
CREATE VIEW E2Q1_VIEW 
(NAME_OF_SCHOOL, Safety_Icon, Family_Involvement_Icon, Environment_Icon, Instruction_Icon, Leaders_Icon, Teachers_Icon) 
AS
SELECT School_Name, Safety_Rating, Family_Rating, Environment_Rating, Instruction_Rating, Leaders_Rating, Teachers_Rating
FROM CHICAGO_PUBLIC_SCHOOLS;
```

Write and execute a SQL statement that returns all of the columns from the view.

```sql

SHOW * FROM E2Q1_VIEW;
```

Write and execute a SQL statement that returns just the school name and leaders rating from the view.

```sql
SELECT School_Name, Leaders_Rating FROM E2Q1_VIEW;
```

#### Exercise 3 Question 1
Write the structure of a query to create or replace a stored procedure called UPDATE_LEADERS_SCORE that takes a in_School_ID parameter as an integer and a in_Leader_Score parameter as an integer. Don’t forget to use the #SET TERMINATOR statement to use the @ for the CREATE statement terminator.

```sql
--#SET TERMINATOR @
CREATE OR REPLACE PROCEDURE UPDATE_LEADERS_SCORE 
(IN in_School_ID INTEGER, IN in_Leader_Score INTEGER)
LANGUAGE SQL
MODIFIES SQL DATA
BEGIN
--PROCEDURE BODY
END
@

```

#### Exercise 3 Question 2
Inside your stored procedure, write a SQL statement to update the Leaders_Score field in the CHICAGO_PUBLIC_SCHOOLS table for the school identified by in_School_ID to the value in the in_Leader_Score parameter.

```sql
--#SET TERMINATOR @
CREATE OR REPLACE PROCEDURE UPDATE_LEADERS_SCORE 
(IN in_School_ID INTEGER, IN in_Leader_Score INTEGER)
LANGUAGE SQL
MODIFIES SQL DATA
BEGIN
    UPDATE  CHICAGO_PUBLIC_SCHOOLS
    SET Leaders_Score = in_Leader_Score
    WHERE School_ID = in_School_ID;
END
@
```

#### Exercise 3 Question 3
Inside your stored procedure, write a SQL IF statement to update the Leaders_Icon field in the CHICAGO_PUBLIC_SCHOOLS table for the school identified by in_School_ID using the following information.

```sql
--#SET TERMINATOR @
CREATE OR REPLACE PROCEDURE UPDATE_LEADERS_SCORE 
(IN in_School_ID INTEGER, IN in_Leader_Score INTEGER)
LANGUAGE SQL
MODIFIES SQL DATA
BEGIN
    IF in_Leader_Score > 0 AND in_Leader_Score < 20 THEN
        UPDATE  CHICAGO_PUBLIC_SCHOOLS
        SET Leaders_Icon = 'Very weak'
        WHERE School_ID = in_School_ID;
    ELSEIF in_Leader_Score < 40 THEN
        UPDATE  CHICAGO_PUBLIC_SCHOOLS
        SET Leaders_Icon = 'Weak'
        WHERE School_ID = in_School_ID;
    ELSEIF in_Leader_Score < 60 THEN
        UPDATE  CHICAGO_PUBLIC_SCHOOLS
        SET Leaders_Icon = 'Average'
        WHERE School_ID = in_School_ID;
    ELSEIF in_Leader_Score < 80 THEN
        UPDATE  CHICAGO_PUBLIC_SCHOOLS
        SET Leaders_Icon = 'Strong'
        WHERE School_ID = in_School_ID;
    ELSEIF in_Leader_Score < 100 THEN
        UPDATE  CHICAGO_PUBLIC_SCHOOLS
        SET Leaders_Icon = 'Very strong'
        WHERE School_ID = in_School_ID;
    END IF;
END
@

```

#### Exercise 3 Question 4
Run your code to create the stored procedure.
Take a screenshot showing the SQL query and its results.

Write a query to call the stored procedure, passing a valid school ID and a leader score of 50, to check that the procedure works as expected.

```sql
SELECT School_ID, Leaders_Score, Leaders_Icon FROM CHICAGO_PUBLIC_SCHOOLS LIMIT 3;
```

```sql
-- working variant
--MySQL
DELIMITER @
DROP PROCEDURE IF EXISTS UPDATE_LEADERS_SCORE2@
CREATE PROCEDURE UPDATE_LEADERS_SCORE2()
BEGIN
    IF in_School_ID > 50 THEN
        SELECT '>50';
    ELSE
        SELECT 'ELSE';
    END IF;
END @
DELIMITER ;

```

```sql
-- working variant
DELIMITER @
DROP PROCEDURE IF EXISTS UPDATE_LEADERS_SCORE2@
CREATE PROCEDURE UPDATE_LEADERS_SCORE2(IN in_School_ID INTEGER, IN in_Leader_Score INTEGER)
BEGIN
    SELECT 10;
    SELECT 20;
    SELECT 30;
END @
DELIMITER ;

```

```sql
-- working variant
DELIMITER @
DROP PROCEDURE IF EXISTS UPDATE_LEADERS_SCORE2@
CREATE PROCEDURE UPDATE_LEADERS_SCORE2
(IN in_School_ID INTEGER, IN in_Leader_Score INTEGER)
BEGIN
    IF in_School_ID > 10 THEN
        SELECT 10;
    ELSE
        SELECT 20;
        SELECT 30;
    END IF;
END @
DELIMITER ;
```

#### Exercise 4 Question 1
Update your stored procedure definition. Add a generic ELSE clause to the IF statement that rolls back the current work if the score did not fit any of the preceding categories.

```sql
--#SET TERMINATOR @
CREATE OR REPLACE PROCEDURE UPDATE_LEADERS_SCORE 
(IN in_School_ID INTEGER, IN in_Leader_Score INTEGER)
LANGUAGE SQL
MODIFIES SQL DATA
BEGIN
    IF in_Leader_Score > 0 AND in_Leader_Score < 20 THEN
        UPDATE  CHICAGO_PUBLIC_SCHOOLS
        SET Leaders_Icon = 'Very weak'
        WHERE School_ID = in_School_ID;
    ELSEIF in_Leader_Score < 40 THEN
        UPDATE  CHICAGO_PUBLIC_SCHOOLS
        SET Leaders_Icon = 'Weak'
        WHERE School_ID = in_School_ID;
    ELSEIF in_Leader_Score < 60 THEN
        UPDATE  CHICAGO_PUBLIC_SCHOOLS
        SET Leaders_Icon = 'Average'
        WHERE School_ID = in_School_ID;
    ELSEIF in_Leader_Score < 80 THEN
        UPDATE  CHICAGO_PUBLIC_SCHOOLS
        SET Leaders_Icon = 'Strong'
        WHERE School_ID = in_School_ID;
    ELSEIF in_Leader_Score < 100 THEN
        UPDATE  CHICAGO_PUBLIC_SCHOOLS
        SET Leaders_Icon = 'Very strong'
        WHERE School_ID = in_School_ID;
    ELSE
        ROLLBACK WORK;
        SELECT "VALUE OUT OF RANGE 0-99"
    END IF;
END
@
```

#### Exercise 4 Question 2
Update your stored procedure definition again. Add a statement to commit the current unit of work at the end of the procedure.

```sql
--#SET TERMINATOR @
CREATE OR REPLACE PROCEDURE UPDATE_LEADERS_SCORE 
(IN in_School_ID INTEGER, IN in_Leader_Score INTEGER)
LANGUAGE SQL
MODIFIES SQL DATA
BEGIN
    IF in_Leader_Score > 0 AND in_Leader_Score < 20 THEN
        UPDATE  CHICAGO_PUBLIC_SCHOOLS
        SET Leaders_Icon = 'Very weak'
        WHERE School_ID = in_School_ID;
    ELSEIF in_Leader_Score < 40 THEN
        UPDATE  CHICAGO_PUBLIC_SCHOOLS
        SET Leaders_Icon = 'Weak'
        WHERE School_ID = in_School_ID;
    ELSEIF in_Leader_Score < 60 THEN
        UPDATE  CHICAGO_PUBLIC_SCHOOLS
        SET Leaders_Icon = 'Average'
        WHERE School_ID = in_School_ID;
    ELSEIF in_Leader_Score < 80 THEN
        UPDATE  CHICAGO_PUBLIC_SCHOOLS
        SET Leaders_Icon = 'Strong'
        WHERE School_ID = in_School_ID;
    ELSEIF in_Leader_Score < 100 THEN
        UPDATE  CHICAGO_PUBLIC_SCHOOLS
        SET Leaders_Icon = 'Very strong'
        WHERE School_ID = in_School_ID;
    ELSE
        ROLLBACK WORK;
        SELECT "VALUE OUT OF RANGE 0-99"
    END IF;
    COMMIT WORK;
END
@
```