In [1]:
# Connect to MySQL
# !pip install -q ipython-sql
# !pip install -q mysqlclient
import json

# Load credentials
with open("w6_7_creds.json", 'r') as j_file:
    creds = json.load(j_file)


%load_ext sql
%sql mysql://{creds['username']}:{creds['password']}@{creds['host']}/{creds['database_name']}

# Double-check that we have connection and print tables
%sql show tables;

 * mysql://root:***@localhost/COURSERA
15 rows affected.

[('BankAccounts',),
 ('chicago_crime',),
 ('CHICAGO_PUBLIC_SCHOOLS',),
 ('chicago_socioeconomic_data',),
 ('DEPARTMENTS',),
 ('e2q1_view',),
 ('EMPLOYEES',),
 ('JOB_HISTORY',),
 ('JOBS',),
 ('LOCATIONS',),
 ('MC_NUTRITION',),
 ('no_cost',),
 ('PETRESCUE',),
 ('PETSALE',),
 ('ShoeShop',)]

#### e1 q1
Write and execute a SQL query to list the school names, community names and average attendance for communities with a hardship index of 98.

In [2]:
# Connect with connector and cursor
import mysql.connector

cnx = mysql.connector.connect(
    host = creds['host'],
    port = creds['port'],
    user = creds['username'],
    password = creds['password']
)
cur = cnx.cursor()
cur.execute('USE COURSERA')

# Check what tables contains columns we need and print correct names
words = ('school', 'community', 'attendance', 'hardship')

tables = ('chicago_crime', 'chicago_public_schools', 'chicago_socioeconomic_data')
for table in tables:
    cur.execute(f'SHOW COLUMNS FROM {table}')
    for row in cur.fetchall():
        for word in words:  
            if word.lower() in row[0].lower():
                print(f'{table} - {row[0]}')

cnx.close()

chicago_crime - COMMUNITY_AREA_NUMBER
chicago_public_schools - School_ID
chicago_public_schools - NAME_OF_SCHOOL
chicago_public_schools - Elementary, Middle, or High School
chicago_public_schools - HEALTHY_SCHOOL_CERTIFIED
chicago_public_schools - AVERAGE_STUDENT_ATTENDANCE
chicago_public_schools - Average_Teacher_Attendance
chicago_public_schools - COMMUNITY_AREA_NUMBER
chicago_public_schools - COMMUNITY_AREA_NAME
chicago_socioeconomic_data - COMMUNITY_AREA_NUMBER
chicago_socioeconomic_data - COMMUNITY_AREA_NAME
chicago_socioeconomic_data - PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA
chicago_socioeconomic_data - HARDSHIP_INDEX

In [3]:
import mysql.connector
cnx = mysql.connector.connect(
    host = creds['host'],
    port = creds['port'],
    user = creds['username'],
    password = creds['password']
)
cur = cnx.cursor()
cur.execute('USE COURSERA')

sql = (
    'SELECT CPS.NAME_OF_SCHOOL, CPS.COMMUNITY_AREA_NAME, CPS.AVERAGE_STUDENT_ATTENDANCE '
    'FROM chicago_public_schools AS CPS '
    'LEFT JOIN chicago_socioeconomic_data AS CSD '
    'ON CPS.COMMUNITY_AREA_NUMBER = CSD.COMMUNITY_AREA_NUMBER '
    'WHERE CSD.HARDSHIP_INDEX = 98;'
)
cur.execute(sql)
for row in cur.fetchall():
    print(f'{row[0]:<55} {row[1]:<10} {row[2]:<10}')
cnx.close()

George Washington Carver Military Academy High School   RIVERDALE  91.60%
George Washington Carver Primary School                 RIVERDALE  90.90%
Ira F Aldridge Elementary School                        RIVERDALE  92.90%
William E B Dubois Elementary School                    RIVERDALE  93.30%

In [4]:
import mysql.connector
cnx = mysql.connector.connect(
    host = creds['host'],
    port = creds['port'],
    user = creds['username'],
    password = creds['password']
)
cur = cnx.cursor()
cur.execute('USE COURSERA')

sql = (
    'SELECT CPS.NAME_OF_SCHOOL, CPS.COMMUNITY_AREA_NAME, CPS.AVERAGE_STUDENT_ATTENDANCE '
    'FROM chicago_socioeconomic_data AS CSD '
    'LEFT JOIN chicago_public_schools AS CPS '
    'ON CPS.COMMUNITY_AREA_NUMBER = CSD.COMMUNITY_AREA_NUMBER '
    'WHERE CSD.HARDSHIP_INDEX = 98;'
)
cur.execute(sql)
for row in cur.fetchall():
    print(f'{row[0]:<55} {row[1]:<10} {row[2]:<10}')
cnx.close()

William E B Dubois Elementary School                    RIVERDALE  93.30%
Ira F Aldridge Elementary School                        RIVERDALE  92.90%
George Washington Carver Primary School                 RIVERDALE  90.90%
George Washington Carver Military Academy High School   RIVERDALE  91.60%

#### e1 q2
Write and execute a SQL query to list all crimes that took place at a school. Include case number, crime type and community name.

In [5]:
# Looking for correct column names

# Connect with connector and cursor
import mysql.connector
cnx = mysql.connector.connect(
    host = creds['host'],
    port = creds['port'],
    user = creds['username'],
    password = creds['password']
)
cur = cnx.cursor()
cur.execute('USE COURSERA')

# Check what tables contains columns we need and print correct names
words = ['case', 'TYPE', 'community', 'LOCATION']

tables = ('chicago_crime', 'chicago_public_schools', 'chicago_socioeconomic_data')
for table in tables:
    cur.execute(f'SHOW COLUMNS FROM {table}')
    for row in cur.fetchall():
        for word in words:  
            if word.lower() in row[0].lower():
                print(f'{table} - {row[0]}')

cnx.close()

chicago_crime - CASE_NUMBER
chicago_crime - PRIMARY_TYPE
chicago_crime - LOCATION_DESCRIPTION
chicago_crime - COMMUNITY_AREA_NUMBER
chicago_crime - LOCATION
chicago_public_schools - COMMUNITY_AREA_NUMBER
chicago_public_schools - COMMUNITY_AREA_NAME
chicago_public_schools - Location
chicago_socioeconomic_data - COMMUNITY_AREA_NUMBER
chicago_socioeconomic_data - COMMUNITY_AREA_NAME

In [6]:
import mysql.connector
cnx = mysql.connector.connect(
    host = creds['host'],
    port = creds['port'],
    user = creds['username'],
    password = creds['password']
)
cur = cnx.cursor()
cur.execute('USE COURSERA')

sql = (
    'SELECT CC.CASE_NUMBER, CC.PRIMARY_TYPE, CSD.COMMUNITY_AREA_NAME '
    'FROM chicago_socioeconomic_data AS CSD '
    'LEFT JOIN chicago_crime AS CC '
    'ON CSD.COMMUNITY_AREA_NUMBER = CC.COMMUNITY_AREA_NUMBER '
    'WHERE UPPER(CC.LOCATION_DESCRIPTION) LIKE "%SCHOOL%";'
)
cur.execute(sql)
for n, row in enumerate(cur.fetchall()):
    print(f'{n+1:>3}  {row[0]:<10} {row[1]:<25} {row[2]:<20}')

cnx.close()

  1  HL353697   BATTERY                   South Shore
  2  HL725506   BATTERY                   Lincoln Square
  3  HP716225   BATTERY                   Douglas
  4  HH639427   BATTERY                   Austin
  5  JA460432   BATTERY                   Ashburn
  6  HS200939   CRIMINAL DAMAGE           Austin
  7  HK577020   NARCOTICS                 Rogers Park
  8  HS305355   NARCOTICS                 Brighton Park
  9  HT315369   ASSAULT                   East Garfield Park
 10  HR585012   CRIMINAL TRESPASS         Ashburn
 11  HH292682   PUBLIC PEACE VIOLATION    CHICAGO
 12  G635735    PUBLIC PEACE VIOLATION    CHICAGO

#### e2q1
Write and execute a SQL statement to create a view showing the columns listed in the following table, with new column names as shown in the second column.

In [7]:
import _mysql_connector
cnx = mysql.connector.connect(
    host = creds['host'],
    port = creds['port'],
    user = creds['username'],
    password = creds['password']
)
cur = cnx.cursor()
cur.execute('USE COURSERA;')

# Delete view if exists to create a new one
sql = ('DROP VIEW IF EXISTS E2Q1_VIEW')
cur.execute(sql)

# Create view
sql = (
    'CREATE VIEW E2Q1_VIEW '
    '(School_Name, Safety_Rating, Family_Rating, Environment_Rating, Instruction_Rating, Leaders_Rating, Teachers_Rating) '
    'AS '
    'SELECT NAME_OF_SCHOOL, Safety_Icon, Family_Involvement_Icon, Environment_Icon, Instruction_Icon, Leaders_Icon, Teachers_Icon '
    'FROM chicago_public_schools; '
)
cur.execute(sql)

# all columns
sql = 'SELECT * FROM E2Q1_VIEW LIMIT 3;'
cur.execute(sql)
print('all columns')
for n, row in enumerate(cur.fetchall()):
    print(f'{n+1:>2}  {row[0]:<65} {row[1]:<12} {row[2]:<12} {row[3]:<12} {row[4]:<12} {row[5]:<12} {row[6]:<12}')

print()

# school name and leaders rating from the view
sql = ('SELECT School_Name, Leaders_Rating FROM E2Q1_VIEW LIMIT 3;')
cur.execute(sql)
print('school name and leaders rating')
for n, row in enumerate(cur.fetchall()):
    print(f'{n+1:>2} {row[0]:<65} {row[1]:<12}')

cnx.close()

all columns
 1  Abraham Lincoln Elementary School                                 Very Strong  Very Strong  Strong       Strong       Weak         Strong
 2  Adam Clayton Powell Paideia Community Academy Elementary School   Average      Strong       Strong       Very Strong  Weak         Strong
 3  Adlai E Stevenson Elementary School                               Strong       NDA          Average      Weak         Weak         NDA

school name and leaders rating
 1 Abraham Lincoln Elementary School                                 Weak
 2 Adam Clayton Powell Paideia Community Academy Elementary School   Weak
 3 Adlai E Stevenson Elementary School                               Weak

#### e3q1
Write the structure of a query to create or replace a stored procedure called UPDATE_LEADERS_SCORE that takes a in_School_ID parameter as an integer and a in_Leader_Score parameter as an integer.

```sql
DELIMITER @
DROP PROCEDURE IF EXISTS UPDATE_LEADERS_SCORE@
CREATE PROCEDURE UPDATE_LEADERS_SCORE()
BEGIN
    
END @
DELIMITER ;
```

#### e3q2
Inside your stored procedure, write a SQL statement to update the Leaders_Score field in the CHICAGO_PUBLIC_SCHOOLS table for the school identified by in_School_ID to the value in the in_Leader_Score parameter.

```sql
DELIMITER @
DROP PROCEDURE IF EXISTS UPDATE_LEADERS_SCORE@
CREATE PROCEDURE UPDATE_LEADERS_SCORE(in_School_ID, in_Leader_Score)
BEGIN
    UPDATE CHICAGO_PUBLIC_SCHOOLS
    SET Leaders_Score = in_Leader_Score
    WHERE School_ID = in_School_ID
END @
DELIMITER ;
```

#### e3q3  
Inside your stored procedure, write a SQL IF statement to update the Leaders_Icon field in the CHICAGO_PUBLIC_SCHOOLS table for the school identified by in_School_ID using the following information.  
| Score lower limit | Score upper limit | Icon |
| --- | --- | --- |
| 80 | 99 | Very strong |
| 60 | 79 | Strong |
| 40 | 59 | Average |
| 20 | 39 | Weak |
| 0 | 19 | Very weak |

In [8]:
import _mysql_connector
config = {
    'host' : creds['host'],
    'port' : creds['port'],
    'user' : creds['username'],
    'password' : creds['password']
}
with mysql.connector.connect(**config) as cnx:
    cur = cnx.cursor()
    cur.execute('USE COURSERA;')
    
    # sql = 'DROP PROCEDURE IF EXISTS UPDATE_LEADERS_SCORE ;'
    # cur.execute(sql)


# # Check if it's possible at all to create procedure remotely
#     sql = (
#         'DROP PROCEDURE IF EXISTS QQQ; '
#         'CREATE PROCEDURE QQQ() '
#         'BEGIN '
#             'SELECT 10; '
#             'SELECT 20; '
#             'SELECT 30; '
#         'END'
#     )

    sql = (
        'DROP PROCEDURE IF EXISTS UPDATE_LEADERS_SCORE ; '
        'CREATE PROCEDURE UPDATE_LEADERS_SCORE(in_School_ID INT, in_Leader_Score INT) '
        'BEGIN '
            'IF in_Leader_Score > 0 AND in_Leader_Score < 20 THEN '
                'UPDATE CHICAGO_PUBLIC_SCHOOLS '
                'SET Leaders_Icon = \'Very weak\' '
                'WHERE School_ID = in_School_ID ;'
            'ELSEIF in_Leader_Score < 40 THEN '
                'UPDATE CHICAGO_PUBLIC_SCHOOLS '
                'SET Leaders_Icon = \'Weak\' '
                'WHERE School_ID = in_School_ID ;'
            'ELSEIF in_Leader_Score < 60 THEN '
                'UPDATE CHICAGO_PUBLIC_SCHOOLS '
                'SET Leaders_Icon = \'Average\' '
                'WHERE School_ID = in_School_ID ;'   
            'ELSEIF in_Leader_Score < 80 THEN '
                'UPDATE CHICAGO_PUBLIC_SCHOOLS '
                'SET Leaders_Icon = \'Strong\' '
                'WHERE School_ID = in_School_ID ;'
            'ELSEIF in_Leader_Score < 100 THEN '
                'UPDATE CHICAGO_PUBLIC_SCHOOLS '
                'SET Leaders_Icon = \'Very strong\' '
                'WHERE School_ID = in_School_ID ;'
            'END IF; '
        'END'
    )
    cur.execute(sql, multi=True)

    # cur.execute('show columns from ')

    # sql = 'select School_ID, Leaders_Score from CHICAGO_PUBLIC_SCHOOLS limit 5;'
    # cur.execute(sql)
    # for c in cur.fetchall():
    #     print(c)

In [9]:
# Looking for correct column names

# Connect with connector and cursor
import mysql.connector
cnx = mysql.connector.connect(
    host = creds['host'],
    port = creds['port'],
    user = creds['username'],
    password = creds['password']
)
cur = cnx.cursor()
cur.execute('USE COURSERA')

# Check what tables contains columns we need and print correct names

words = ['Leaders', 'ID']

tables = ('chicago_crime', 'chicago_public_schools', 'chicago_socioeconomic_data')
for table in tables:
    cur.execute(f'SHOW COLUMNS FROM {table}')
    for row in cur.fetchall():
        for word in words:  
            if word.lower() in row[0].lower():
                print(f'{table} - {row[0]}')
cnx.close()

chicago_crime - ID
chicago_public_schools - School_ID
chicago_public_schools - Elementary, Middle, or High School
chicago_public_schools - Leaders_Icon
chicago_public_schools - Leaders_Score
chicago_public_schools - Individualized_Education_Program_Compliance_Rate

#### e3q4
Run your code to create the stored procedure.
Write a query to call the stored procedure, passing a valid school ID and a leader score of 50, to check that the procedure works as expected.

In [10]:
import mysql.connector
config = {
    'host' : creds['host'],
    'port' : creds['port'],
    'user' : creds['username'],
    'password' : creds['password']
}
with mysql.connector.connect(**config) as cnx:
    cur = cnx.cursor()
    cur.execute('USE COURSERA;')
    print('before chnaging:')
    cur.execute('select School_ID, Leaders_Icon, Leaders_Score from CHICAGO_PUBLIC_SCHOOLS limit 5')
    for c in cur.fetchall():
        print(*c)
    print()
    print('after changing:')
    cur.execute('call UPDATE_LEADERS_SCORE(610038, 35)')
    cur.execute('select School_ID, Leaders_Icon, Leaders_Score from CHICAGO_PUBLIC_SCHOOLS limit 5')
    for c in cur.fetchall():
        print(*c)

before chnaging:
610038 Weak 65
610281 Weak 63
610185 Weak NDA
609993 Weak 65
610513 Weak 45

after changing:
610038 Weak 65
610281 Weak 63
610185 Weak NDA
609993 Weak 65
610513 Weak 45

#### e4q1
Update your stored procedure definition. Add a generic ELSE clause to the IF statement that rolls back the current work if the score did not fit any of the preceding categories.

In [11]:
import mysql.connector
config = {
    'host' : creds['host'],
    'port' : creds['port'],
    'user' : creds['username'],
    'password' : creds['password']
}
with mysql.connector.connect(**config) as cnx:
    cur = cnx.cursor()
    cur.execute('USE COURSERA;')
    sql = (
        'DROP PROCEDURE IF EXISTS UPDATE_LEADERS_SCORE ; '
        'CREATE PROCEDURE UPDATE_LEADERS_SCORE(in_School_ID INT, in_Leader_Score INT) '
        'BEGIN '
            'IF in_Leader_Score > 0 AND in_Leader_Score < 20 THEN '
                'UPDATE CHICAGO_PUBLIC_SCHOOLS '
                'SET Leaders_Icon = \'Very weak\' '
                'WHERE School_ID = in_School_ID ;'
            'ELSEIF in_Leader_Score < 40 THEN '
                'UPDATE CHICAGO_PUBLIC_SCHOOLS '
                'SET Leaders_Icon = \'Weak\' '
                'WHERE School_ID = in_School_ID ;'
            'ELSEIF in_Leader_Score < 60 THEN '
                'UPDATE CHICAGO_PUBLIC_SCHOOLS '
                'SET Leaders_Icon = \'Average\' '
                'WHERE School_ID = in_School_ID ;'   
            'ELSEIF in_Leader_Score < 80 THEN '
                'UPDATE CHICAGO_PUBLIC_SCHOOLS '
                'SET Leaders_Icon = \'Strong\' '
                'WHERE School_ID = in_School_ID ;'
            'ELSEIF in_Leader_Score < 100 THEN '
                'UPDATE CHICAGO_PUBLIC_SCHOOLS '
                'SET Leaders_Icon = \'Very strong\' '
                'WHERE School_ID = in_School_ID ; '
             'ELSE '
                'ROLLBACK WORK ;'               
            'END IF; '
        'END'
    )
    cur.execute(sql, multi=True)

#### e4q2
Update your stored procedure definition again. Add a statement to commit the current unit of work at the end of the procedure.
Run your code to replace the stored procedure.
Write and run one query to check that the updated stored procedure works as expected when you use a valid score of 38.
Write and run another query to check that the updated stored procedure works as expected when you use an invalid score of 101.

In [12]:
import mysql.connector
config = {
    'host' : creds['host'],
    'port' : creds['port'],
    'user' : creds['username'],
    'password' : creds['password']
}
with mysql.connector.connect(**config) as cnx:
    cur = cnx.cursor()
    cur.execute('USE COURSERA;')
    sql = (
        'DROP PROCEDURE IF EXISTS UPDATE_LEADERS_SCORE ; '
        'CREATE PROCEDURE UPDATE_LEADERS_SCORE(in_School_ID INT, in_Leader_Score INT) '
        'BEGIN '
            'IF in_Leader_Score > 0 AND in_Leader_Score < 20 THEN '
                'UPDATE CHICAGO_PUBLIC_SCHOOLS '
                'SET Leaders_Icon = \'Very weak\' '
                'WHERE School_ID = in_School_ID ;'
            'ELSEIF in_Leader_Score < 40 THEN '
                'UPDATE CHICAGO_PUBLIC_SCHOOLS '
                'SET Leaders_Icon = \'Weak\' '
                'WHERE School_ID = in_School_ID ;'
            'ELSEIF in_Leader_Score < 60 THEN '
                'UPDATE CHICAGO_PUBLIC_SCHOOLS '
                'SET Leaders_Icon = \'Average\' '
                'WHERE School_ID = in_School_ID ;'   
            'ELSEIF in_Leader_Score < 80 THEN '
                'UPDATE CHICAGO_PUBLIC_SCHOOLS '
                'SET Leaders_Icon = \'Strong\' '
                'WHERE School_ID = in_School_ID ;'
            'ELSEIF in_Leader_Score < 100 THEN '
                'UPDATE CHICAGO_PUBLIC_SCHOOLS '
                'SET Leaders_Icon = \'Very strong\' '
                'WHERE School_ID = in_School_ID ; '
             'ELSE '
                'ROLLBACK WORK; '               
            'END IF; '
            'COMMIT WORK; '
        'END'
    )
    cur.execute(sql, multi=True)